@model Student
@{
    <html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ShowDetail</title>
    </head>

    <body>
        <h1>TODO : Affichage des details de l'etudiant:  @ViewBag.student.LastName, @ViewBag.student.FirstName</h1>

    </body>

    </html>
}
